extends layout

block content
  .container
    .row.navigation
      .span2.logo Logo
      .span6.blank Blank
      .span4.about About
    .row.heading
      .span12
        h1 Bitstarter Title
    .row.subheading
      .span12
        p.lead This is my first bitstarter project.
    .row.pitch
      .span6.video Video
      .span6
        .thermometer Thermometer
        .order Order
        .social Social
    .row.section1
      .span12 Marketing Section 1
    .row.section2
      .span12 Marketing Section 2
    .row.faq
      .span12 FAQ
    .row.footer
      .span12 Footer
